/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        new_combo {
            bindings = <&kp LSHFT>;
            key-positions = <18 19>;
            timeout-ms = <null>;
        };

        new_combo {
            bindings = <&kp RET>;
            key-positions = <17 16>;
            timeout-ms = <50>;
        };

        new_combo {
            bindings = <&kp LEFT_WIN>;
            key-positions = <30 31>;
        };

        new_combo {
            bindings = <&kp LS(LCTRL)>;
            key-positions = <10 20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
  &kp Q   &kp W   &kp E      &kp R            &kp T        &kp Y                 &kp U      &kp I    &kp O              &kp P
  &kp A   &kp S   &kp D      &kp F            &kp G        &kp H                 &kp J      &kp K    &kp L  &kp DOUBLE_QUOTES
  &kp Z   &kp X   &kp C      &kp V            &kp B        &kp N                 &kp M  &kp COMMA  &kp DOT          &kp SLASH
                         &lt 3 ESC  &lt 1 BACKSPACE  &lt 2 SPACE  &mt LEFT_SHIFT ENTER
            >;
        };

        left_layer {
            bindings = <
 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
    &kp LC(A)     &kp LC(S)        &trans     &kp LC(F)        &trans        &trans      &kp PLUS     &kp MINUS     &kp EQUAL      &kp SEMI
    &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)        &trans        &trans        &trans        &trans        &trans        &trans
                                                 &trans        &trans        &trans        &trans
            >;
        };

        right_layer {
            bindings = <
 &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp CARET  &kp AMPS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS     &kp GRAVE
     &kp EXCL        &kp AT      &kp HASH    &kp DOLLAR   &kp PERCENT     &trans    &trans      &kp LEFT_BRACKET      &kp RIGHT_BRACKET     &kp COLON
       &trans        &trans        &trans        &trans        &trans     &trans    &trans                &trans                 &trans  &kp QUESTION
                                                 &trans        &trans     &trans    &trans
            >;
        };

        tri_layer {
            bindings = <
 &kp GRAVE     &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp CARET  &kp AMPS  &kp ASTERISK  &kp MINUS  &kp EQUAL
    &kp F1  &kp LC(S)    &kp F3   &kp LC(F)       &kp F5     &trans    &trans        &trans     &trans   &kp APOS
    &trans     &trans    &trans      &trans       &trans     &trans    &trans        &trans     &trans     &trans
                                     &trans       &trans     &trans    &trans
            >;
        };
    };
};
